<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Les plus vilains potins sont ici</h1>
    <a href="/gossips/new/">Un nouveau Gossip ?</a>
    <br>
    <% gossips.each_with_index do |gossip, index| %> <!-- -->
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %><br/>
        <a href="/gossips/<%= index %>/" target="_blank">Voir la page de ce gossip</a>
        </p>
    <% end %>
  </body>
</html>